<main>

    <div id="BgLogo" class="text-center divform2" onclick="window.location.href = '/UserOrder'">
        <img id="logo" src="/img/logo.png" class="img-fluid" alt="Logo Beershop di Maui"/> 
    </div>

    <div class="row divform2">
        <div class="col-md-6">
            <img src="/img/Aloha.jpg" class="img-fluid" alt="Aloha" onclick="window.location.href = '/UserOrder'">
        </div>
        <div class="col-md-6 p-5">
            <h1>Welcome</h1>
            <h2>Benvenuti al Beershop di Maui!</h2>
            <p class="text-justify">
                Benvenuto a Maui, il tuo beershop di fiducia! Qui troverai una vasta selezione di birre artigianali e internazionali. Speriamo che la tua esperienza con noi sia piacevole e rinfrescante.
                <br>
                Alla salute!
            </p>
        </div>
    </div>

    <div class="row divform2" onclick="window.location.href = '/Info/ChiSiamo'">
        <div class="col-md-6">
            <div class="p-5">
                <h2>Chi siamo</h2>
                <p class=" text-justify">
                    Maui è un negozio di birre artigianali e internazionali, nato dalla passione per la birra e per la scoperta di nuovi sapori. Il nostro obiettivo è quello di offrire ai nostri clienti una vasta selezione di birre di qualità, provenienti da tutto il mondo.
                    <br>
                    Il nostro team è composto da esperti del settore, pronti ad aiutarti a scegliere la birra perfetta per ogni occasione. Se hai bisogno di consigli o suggerimenti, non esitare a contattarci!
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/img/birre.png" class="img-fluid" alt="Birre">
        </div>
    </div>

    <div class="row divform2" onclick="window.location.href = '/Info/Contatti'">
        <div class="col-md-6">
            <img src="/img/terrazza.png" class="img-fluid" alt="Terrazza">
        </div>
        <div class="col-md-6">
            <div class="py-5 ">
                <h4>Vieni a goderti una birra sulla nostra terrazza sul mare!</h4>
                <p class="text-justifys">La nostra terrazza offre una vista mozzafiato sul mare, il luogo perfetto per rilassarsi e gustare una birra fresca. Ti aspettiamo!</p>
            </div>
        </div>
    </div>

</main>

   <script>
       document.addEventListener("DOMContentLoaded", function () {
           const mainContent = document.getElementById("main-content");
           mainContent.classList.add("loaded");
       });
   </script>