<div class="Thanks-page">
<div class="container" style="vertical-align:central">
    
    <div class="row">
            <div class="Bordo col-12"></div>
            <div class="col-md-1 Bordo">
          
            </div>
            <div class="col-md-10">
                <img src="/img/logo2.png" class="img-fluid" alt="Birra" style="width:20%"/>
                <h1>Ordine completato con successo!</h1>
                <b><p>Grazie per il tuo ordine. <br /> Le tue birre stanno per salpare...</p></b>

                <a href="/Home" class="btn BOP-btn-verde">Torna alla home</a>
            </div>
            <div class="col-md-1 Bordo">
            </div>
            <div class="Bordo col-12"></div>
        </div>
       
</div>