



<div class="container py-5">
    <div class="row">
        <div class="col">
            <h2 class="chisiamo-custom-title text-center">Chi Siamo</h2>
            <p class="chisiamo-custom-subtitle text-center">Scopri la storia dietro la Birreria Maui</p>
            <div class="chisiamo-custom-content">
                <p><strong>La Nostra Storia</strong></p>
                <p>La storia di Maui ha inizio anni fa, quando un gruppo di amici ha deciso di trasformare la loro passione per la birra in qualcosa di concreto. Guidati dalla visione di creare un luogo che catturasse l'essenza delle isole del Pacifico, hanno fondato questa birreria con l'obiettivo di diffondere gioia e convivialità attraverso le loro birre artigianali.</p>
                
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-fluid  rounded rounded-5" alt="Birreria Maui" src="https://media.licdn.com/dms/image/C561BAQEFGQKd9LOiPA/company-background_10000/0/1584901086685/maui_brewing_co__cover?e=2147483647&v=beta&t=sh_vdHTSH4Y0JgZGATtjOjysjJd0ciVY2sGwCdz2i_k" />
                    </div>
                    <div class="col-md-6">
                        <p><strong>La Nostra Filosofia</strong></p>
                        <p>A Maui, crediamo che la birra non sia solo una bevanda, ma un mezzo per connettere le persone e celebrare la vita. Ogni birra che produciamo porta con sé un pezzo del nostro spirito avventuroso e della nostra passione per l'artigianato. Ci impegniamo a utilizzare ingredienti di alta qualità e tecniche di produzione tradizionali per garantire un'esperienza degna delle isole polinesiane.</p>

                    </div>
                
                </div>
                
                <br />

                <br/>
                <div class="row">
                    <div class="col-md-6">
                <p><strong>Il Nostro Fondatore</strong></p>
                <p class="">Ebbe tutto inizio con Rudolph Rayleigh, detto Rudy, un vecchio marinaio il cui spirito libero e la saggezza sono stati fondamentali per plasmare l'anima della birreria. Ispirandoci alla sua esperienza e al suo amore per l'oceano, ci impegniamo a portare avanti il suo lascito, diffondendo gioia e avventura attraverso ogni sorso di birra.</p>
                    </div>
                    <div class="col-md-6">
                        <img src="https://i.pinimg.com/564x/57/c9/93/57c993751b9c51d4deb8b974621b75e7.jpg" class="img-fluid  rounded rounded-5" alt="Birreria Maui">
                </div>
            </div>
        </div>
    </div>
</div>
